.bg-gray{
	background-color: #eeeeee;
}
.bg-white{
	background-color: #ffffff;
}
.bg-555555{
	background-color: #555555;
}
.bg-f2f7fc{
	background-color: #f2f7fc;
}
.bg-4479b2{
	background-color: #4479b2;
}
.bg-96b7d5{
	background-color: #96b7d5;
}
.bg-c1d5e8{
	background-color: #c1d5e8;
}